# Spark Datafram Basics

In [1]:
# Find where is spark
import findspark
findspark.init('/home/william/spark-2.4.2-bin-hadoop2.7/')

In [2]:
# Before everything, we need to start a spark session
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json('../class_note/Spark_DataFrames/people.json')

In [5]:
# How to show data in the table
# Spark will automatically replace missing data with null
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
# Show the datatype for each column
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
# Show all the columns names, this is not a method but a attribute so don't need ()
df.columns

['age', 'name']

In [8]:
# Show the statical summery of the dataframe
# we can only show certain column by input the col name
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
# How to clearify the data type
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [10]:
# Create a schema base on struct field define by the user
data_schema = [StructField('age',IntegerType(),True),
               StructField('name',StringType(),True)]

In [11]:
# Building a structure type
final_struc = StructType(fields=data_schema)

In [12]:
df = spark.read.json('../class_note/Spark_DataFrames/people.json',schema=final_struc)

In [13]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

### Part 2

In [14]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [18]:
# Getting data from df
# By using select object, we can use select to get return of Dataframe.
# Then we can use .show() method to display the dataframe.
# The select can take in a single string or a list of string to get the data we want.
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [19]:
# If we want to check row
df.head(2)
print(type(df.head(2)))
print(df.head(2)[0])

<class 'list'>
Row(age=None, name='Michael')

In [26]:
# There are three types of data can be return from spark.df
print("Col type       : ",type(df['age']))
print("Row type       : ",type(df.head()))
print("DataFrame type : ",type(df.select('age')))

Col type       :  <class 'pyspark.sql.column.Column'>
Row type       :  <class 'pyspark.sql.types.Row'>
DataFrame type :  <class 'pyspark.sql.dataframe.DataFrame'>

In [28]:
# We can create a new column by withColumn method
# This is not a inplace operation.
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [29]:
# Rename a column by withColumnRenamed() method
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [30]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
# use sql language with spark
# First we need to define a view 
df.createOrReplaceTempView('ThemTable')

In [34]:
results = spark.sql("SELECT * FROM ThemTable")
print(results)
print(results.show())

DataFrame[age: int, name: string]
+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

None

In [35]:
new_results = spark.sql("""SELECT * 
                         FROM ThemTable
                         WHERE age = 30""")

In [36]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+